<script>
    // empty script tag to work around a platform issue where attributes of first script in file are scrubbed
</script>

<script id="bold-subscriptions-script" type="text/javascript">
    window.BOLD = window.BOLD || {};
    window.BOLD.subscriptions = window.BOLD.subscriptions || {};
    window.BOLD.subscriptions.classes = window.BOLD.subscriptions.classes || {};
    window.BOLD.subscriptions.patches = window.BOLD.subscriptions.patches || {};
    window.BOLD.subscriptions.patches.maxCheckoutRetries = window.BOLD.subscriptions.patches.maxCheckoutRetries || 200;
    window.BOLD.subscriptions.patches.currentCheckoutRetries = window.BOLD.subscriptions.patches.currentCheckoutRetries || 0;
    window.BOLD.subscriptions.patches.maxCashierPatchAttempts = window.BOLD.subscriptions.patches.maxCashierPatchAttempts || 200;
    window.BOLD.subscriptions.patches.currentCashierPatchAttempts = window.BOLD.subscriptions.patches.currentCashierPatchAttempts || 0;
    window.BOLD.subscriptions.config = window.BOLD.subscriptions.config || {};
    window.BOLD.subscriptions.config.platform = 'shopify';
    window.BOLD.subscriptions.config.shopDomain = 'petassistant.myshopify.com';
    window.BOLD.subscriptions.config.customDomain = 'shop.petassistant.com';
    window.BOLD.subscriptions.config.shopIdentifier = '47725936807';
    window.BOLD.subscriptions.config.cashierUrl = 'https://cashier.boldcommerce.com';
    window.BOLD.subscriptions.config.cashierApplicationUUID = '2e6a2bbc-b12b-4255-abdf-a02af85c0d4e';
    window.BOLD.subscriptions.config.appUrl = 'https://sub.boldapps.net';
    window.BOLD.subscriptions.config.currencyCode = 'USD';
    window.BOLD.subscriptions.config.checkoutType = 'shopify';
    window.BOLD.subscriptions.config.currencyFormat = "$\u0026#123;\u0026#123;amount}}";
    window.BOLD.subscriptions.config.shopCurrencies = [{"id":1520,"currency":"USD","currency_format":"$\u0026#123;\u0026#123;amount}}","created_at":"2021-02-16 16:43:17","updated_at":"2021-02-16 16:43:17"}];
    window.BOLD.subscriptions.config.shopSettings = {"allow_msp_cancellation":true,"allow_msp_prepaid_renewal":true,"customer_can_pause_subscription":true,"customer_can_change_next_order_date":true,"line_item_discount_policy":"inherit","customer_can_change_order_frequency":true,"customer_can_create_an_additional_order":true,"show_currency_code":true};
    window.BOLD.subscriptions.config.cashierPluginOnlyMode = window.BOLD.subscriptions.config.cashierPluginOnlyMode || false;
    if (window.BOLD.subscriptions.config.waitForCheckoutLoader === undefined) {
        window.BOLD.subscriptions.config.waitForCheckoutLoader = true;
    }

    window.BOLD.subscriptions.config.addToCartFormSelectors = window.BOLD.subscriptions.config.addToCartFormSelectors || [];
    window.BOLD.subscriptions.config.addToCartButtonSelectors = window.BOLD.subscriptions.config.addToCartButtonSelectors || [];
    window.BOLD.subscriptions.config.widgetInsertBeforeSelectors = window.BOLD.subscriptions.config.widgetInsertBeforeSelectors || [];
    window.BOLD.subscriptions.config.quickAddToCartButtonSelectors = window.BOLD.subscriptions.config.quickAddToCartButtonSelectors || [];
    window.BOLD.subscriptions.config.cartElementSelectors = window.BOLD.subscriptions.config.cartElementSelectors || [];
    window.BOLD.subscriptions.config.cartTotalElementSelectors = window.BOLD.subscriptions.config.cartTotalElementSelectors || [];
    window.BOLD.subscriptions.config.lineItemSelectors = window.BOLD.subscriptions.config.lineItemSelectors || [];
    window.BOLD.subscriptions.config.lineItemNameSelectors = window.BOLD.subscriptions.config.lineItemNameSelectors || [];
    window.BOLD.subscriptions.config.checkoutButtonSelectors = window.BOLD.subscriptions.config.checkoutButtonSelectors || [];

    window.BOLD.subscriptions.config.featureFlags = window.BOLD.subscriptions.config.featureFlags || ["BS2-1698-get-paypal-methods-from-cashier","BS2-1699-select-payment-methods-msp","BS2-1882-gen-settings-tz","BS2-3449-disable-checkout-buttons","BS2-2894-shared-secret-mandatory","BS2-1699-edit-payment-methods-admin","bs2-1804-cancellation-management-page","BS2-3651-orderstream-webhook-source-validation"];
    window.BOLD.subscriptions.config.subscriptionProcessingFrequency = '60';
    window.BOLD.subscriptions.config.requireMSPInitialLoadingMessage = true;
    window.BOLD.subscriptions.data = window.BOLD.subscriptions.data || {};

    // Interval text markup template
    window.BOLD.subscriptions.config.lineItemPropertyListSelectors = window.BOLD.subscriptions.config.lineItemPropertyListSelectors || [];
    window.BOLD.subscriptions.config.lineItemPropertyListSelectors.push('dl.definitionList');
    window.BOLD.subscriptions.config.lineItemPropertyListTemplate = window.BOLD.subscriptions.config.lineItemPropertyListTemplate || '<dl class="definitionList"></dl>';
    window.BOLD.subscriptions.config.lineItemPropertyTemplate = window.BOLD.subscriptions.config.lineItemPropertyTemplate || '<dt class="definitionList-key">\{{key}}:</dt><dd class="definitionList-value">\{{value}}</dd>';

    // Discount text markup template
    window.BOLD.subscriptions.config.discountItemTemplate = window.BOLD.subscriptions.config.discountItemTemplate || '<div class="bold-subscriptions-discount"><div class="bold-subscriptions-discount__details">\{{details}}</div><div class="bold-subscriptions-discount__total">\{{total}}</div></div>';


    // Constants in XMLHttpRequest are not reliable, so we will create our own
    // reference: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/readyState
    window.BOLD.subscriptions.config.XMLHttpRequest = {
        UNSENT:0,            // Client has been created. open() not called yet.
        OPENED: 1,           // open() has been called.
        HEADERS_RECEIVED: 2, // send() has been called, and headers and status are available.
        LOADING: 3,          // Downloading; responseText holds partial data.
        DONE: 4              // The operation is complete.
    };

    window.BOLD.subscriptions.config.assetBaseUrl = 'https://sub.boldapps.net';
    if (window.localStorage && window.localStorage.getItem('boldSubscriptionsAssetBaseUrl')) {
        window.BOLD.subscriptions.config.assetBaseUrl = window.localStorage.getItem('boldSubscriptionsAssetBaseUrl')
    }

    if (localStorage && localStorage.getItem('boldSubscriptionsSubscriptionGroups')) {
        window.BOLD.subscriptions.data.subscriptionGroups = JSON.parse(localStorage.getItem('boldSubscriptionsSubscriptionGroups'));
    } else {
        window.BOLD.subscriptions.data.subscriptionGroups = [{"id":9678,"billing_rules":[{"id":19526,"subscription_group_id":9678,"interval_name":"Every 3 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=3","custom_billing_rule":""},{"id":19527,"subscription_group_id":9678,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":20746,"subscription_group_id":9678,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":20747,"subscription_group_id":9678,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":22466,"subscription_group_id":9678,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":22467,"subscription_group_id":9678,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":23127,"subscription_group_id":9678,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""},{"id":23128,"subscription_group_id":9678,"interval_name":"Every 16 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=16","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":9612,"subscription_group_id":9678,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5848946344103"},{"platform_entity_id":"5980480766132"},{"platform_entity_id":"5980481519796"},{"platform_entity_id":"5980485550260"},{"platform_entity_id":"5980491743412"},{"platform_entity_id":"5980496265396"},{"platform_entity_id":"5980498821300"},{"platform_entity_id":"5980504129716"},{"platform_entity_id":"5980506226868"},{"platform_entity_id":"6133889761460"},{"platform_entity_id":"6133890154676"},{"platform_entity_id":"6133890318516"},{"platform_entity_id":"6133890547892"},{"platform_entity_id":"6133890842804"},{"platform_entity_id":"6133891006644"},{"platform_entity_id":"6133891203252"},{"platform_entity_id":"6133891367092"},{"platform_entity_id":"6133891629236"},{"platform_entity_id":"6133892120756"},{"platform_entity_id":"6133892415668"},{"platform_entity_id":"6133892448436"},{"platform_entity_id":"6133892645044"},{"platform_entity_id":"6133892874420"},{"platform_entity_id":"6133893529780"},{"platform_entity_id":"6133895266484"},{"platform_entity_id":"6133895987380"},{"platform_entity_id":"6133897003188"},{"platform_entity_id":"6133897330868"},{"platform_entity_id":"6133898018996"},{"platform_entity_id":"6219591975092"},{"platform_entity_id":"6219593089204"},{"platform_entity_id":"5980457205940"},{"platform_entity_id":"5980457926836"},{"platform_entity_id":"5980458057908"},{"platform_entity_id":"5980459598004"},{"platform_entity_id":"5980461400244"},{"platform_entity_id":"5980464447668"},{"platform_entity_id":"5980464906420"},{"platform_entity_id":"5980466741428"},{"platform_entity_id":"5980468707508"},{"platform_entity_id":"5980472377524"},{"platform_entity_id":"5980479848628"},{"platform_entity_id":"5980486500532"},{"platform_entity_id":"5980490268852"},{"platform_entity_id":"5980490891444"},{"platform_entity_id":"5980500459700"},{"platform_entity_id":"5980501115060"},{"platform_entity_id":"5980503998644"},{"platform_entity_id":"5980507570356"},{"platform_entity_id":"5980508815540"},{"platform_entity_id":"5980509896884"},{"platform_entity_id":"5980513632436"},{"platform_entity_id":"5980518547636"},{"platform_entity_id":"5980538110132"},{"platform_entity_id":"5980540731572"},{"platform_entity_id":"5980559245492"},{"platform_entity_id":"5980563079348"},{"platform_entity_id":"5980563931316"},{"platform_entity_id":"5980571336884"},{"platform_entity_id":"5980581986484"},{"platform_entity_id":"5980584280244"},{"platform_entity_id":"5980588343476"},{"platform_entity_id":"5980590833844"},{"platform_entity_id":"5980594045108"},{"platform_entity_id":"5980599353524"},{"platform_entity_id":"5980599386292"},{"platform_entity_id":"5980600598708"},{"platform_entity_id":"6133890515124"},{"platform_entity_id":"6133892972724"},{"platform_entity_id":"6133893595316"},{"platform_entity_id":"6133893693620"},{"platform_entity_id":"6133894480052"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12885,"billing_rules":[{"id":25987,"subscription_group_id":12885,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":25988,"subscription_group_id":12885,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":25989,"subscription_group_id":12885,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":25990,"subscription_group_id":12885,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":25991,"subscription_group_id":12885,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":25992,"subscription_group_id":12885,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12829,"subscription_group_id":12885,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"6133890842804"},{"platform_entity_id":"6133892415668"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12886,"billing_rules":[{"id":25993,"subscription_group_id":12886,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":25994,"subscription_group_id":12886,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":25995,"subscription_group_id":12886,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":25996,"subscription_group_id":12886,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":25997,"subscription_group_id":12886,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":25998,"subscription_group_id":12886,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12830,"subscription_group_id":12886,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980473098420"},{"platform_entity_id":"5980476244148"},{"platform_entity_id":"5980479553716"},{"platform_entity_id":"5980496396468"},{"platform_entity_id":"5980536930484"},{"platform_entity_id":"6117924405428"},{"platform_entity_id":"6222983430324"},{"platform_entity_id":"6222983823540"},{"platform_entity_id":"6222984216756"},{"platform_entity_id":"6222984347828"},{"platform_entity_id":"6222984773812"},{"platform_entity_id":"6222984904884"},{"platform_entity_id":"6222985265332"},{"platform_entity_id":"6222985429172"},{"platform_entity_id":"6222985724084"},{"platform_entity_id":"6222985953460"},{"platform_entity_id":"6222986248372"},{"platform_entity_id":"6222986412212"},{"platform_entity_id":"6222986936500"},{"platform_entity_id":"6222988607668"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12887,"billing_rules":[{"id":25999,"subscription_group_id":12887,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26000,"subscription_group_id":12887,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26001,"subscription_group_id":12887,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26002,"subscription_group_id":12887,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26003,"subscription_group_id":12887,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26004,"subscription_group_id":12887,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12831,"subscription_group_id":12887,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980458123444"},{"platform_entity_id":"5980463497396"},{"platform_entity_id":"5980467822772"},{"platform_entity_id":"5980468019380"},{"platform_entity_id":"5980472344756"},{"platform_entity_id":"5980472508596"},{"platform_entity_id":"5980473295028"},{"platform_entity_id":"5980484206772"},{"platform_entity_id":"5980502065332"},{"platform_entity_id":"5980504555700"},{"platform_entity_id":"5980504817844"},{"platform_entity_id":"5980509470900"},{"platform_entity_id":"5980510945460"},{"platform_entity_id":"5980512256180"},{"platform_entity_id":"5980523397300"},{"platform_entity_id":"5980524576948"},{"platform_entity_id":"5980532539572"},{"platform_entity_id":"5980532965556"},{"platform_entity_id":"5980538896564"},{"platform_entity_id":"5980541386932"},{"platform_entity_id":"5980542927028"},{"platform_entity_id":"5980543877300"},{"platform_entity_id":"5980548006068"},{"platform_entity_id":"5980548399284"},{"platform_entity_id":"5980559409332"},{"platform_entity_id":"5980559671476"},{"platform_entity_id":"5980566028468"},{"platform_entity_id":"5980574056628"},{"platform_entity_id":"5980575203508"},{"platform_entity_id":"5980578578612"},{"platform_entity_id":"5980581593268"},{"platform_entity_id":"5980586475700"},{"platform_entity_id":"5980590244020"},{"platform_entity_id":"5980604661940"},{"platform_entity_id":"6133889958068"},{"platform_entity_id":"6133891432628"},{"platform_entity_id":"6133891760308"},{"platform_entity_id":"6545126686900"},{"platform_entity_id":"6545137729716"},{"platform_entity_id":"6548880588980"},{"platform_entity_id":"6548883144884"},{"platform_entity_id":"6556424700084"},{"platform_entity_id":"6556433449140"},{"platform_entity_id":"6556433383604"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12888,"billing_rules":[{"id":26006,"subscription_group_id":12888,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26007,"subscription_group_id":12888,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26008,"subscription_group_id":12888,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26009,"subscription_group_id":12888,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26010,"subscription_group_id":12888,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26011,"subscription_group_id":12888,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12832,"subscription_group_id":12888,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980457762996"},{"platform_entity_id":"5980466512052"},{"platform_entity_id":"5980470902964"},{"platform_entity_id":"5980474769588"},{"platform_entity_id":"5980480143540"},{"platform_entity_id":"5980502982836"},{"platform_entity_id":"5980538699956"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12889,"billing_rules":[{"id":26012,"subscription_group_id":12889,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26013,"subscription_group_id":12889,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26014,"subscription_group_id":12889,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26015,"subscription_group_id":12889,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26016,"subscription_group_id":12889,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26017,"subscription_group_id":12889,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12833,"subscription_group_id":12889,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980455731380"},{"platform_entity_id":"5980455993524"},{"platform_entity_id":"5980456157364"},{"platform_entity_id":"5980456648884"},{"platform_entity_id":"5980457664692"},{"platform_entity_id":"5980458320052"},{"platform_entity_id":"5980458582196"},{"platform_entity_id":"5980458713268"},{"platform_entity_id":"5980459008180"},{"platform_entity_id":"5980459204788"},{"platform_entity_id":"5980459237556"},{"platform_entity_id":"5980459565236"},{"platform_entity_id":"5980460351668"},{"platform_entity_id":"5980460613812"},{"platform_entity_id":"5980460777652"},{"platform_entity_id":"5980461105332"},{"platform_entity_id":"5980462022836"},{"platform_entity_id":"5980462350516"},{"platform_entity_id":"5980462940340"},{"platform_entity_id":"5980463005876"},{"platform_entity_id":"5980463530164"},{"platform_entity_id":"5980463792308"},{"platform_entity_id":"5980463988916"},{"platform_entity_id":"5980466479284"},{"platform_entity_id":"5980467691700"},{"platform_entity_id":"5980468314292"},{"platform_entity_id":"5980469362868"},{"platform_entity_id":"5980471263412"},{"platform_entity_id":"5980472803508"},{"platform_entity_id":"5980473262260"},{"platform_entity_id":"5980473917620"},{"platform_entity_id":"5980474998964"},{"platform_entity_id":"5980475457716"},{"platform_entity_id":"5980476506292"},{"platform_entity_id":"5980476571828"},{"platform_entity_id":"5980478734516"},{"platform_entity_id":"5980479029428"},{"platform_entity_id":"5980480864436"},{"platform_entity_id":"5980482502836"},{"platform_entity_id":"5980482830516"},{"platform_entity_id":"5980484894900"},{"platform_entity_id":"5980484927668"},{"platform_entity_id":"5980486303924"},{"platform_entity_id":"5980486664372"},{"platform_entity_id":"5980488335540"},{"platform_entity_id":"5980489810100"},{"platform_entity_id":"5980491874484"},{"platform_entity_id":"5980492202164"},{"platform_entity_id":"5980492234932"},{"platform_entity_id":"5980493021364"},{"platform_entity_id":"5980494364852"},{"platform_entity_id":"5980496560308"},{"platform_entity_id":"5980496724148"},{"platform_entity_id":"5980498100404"},{"platform_entity_id":"5980498133172"},{"platform_entity_id":"5980499443892"},{"platform_entity_id":"5980501147828"},{"platform_entity_id":"5980503769268"},{"platform_entity_id":"5980506063028"},{"platform_entity_id":"5980506587316"},{"platform_entity_id":"5980511404212"},{"platform_entity_id":"5980519301300"},{"platform_entity_id":"5980520710324"},{"platform_entity_id":"5980520939700"},{"platform_entity_id":"5980522938548"},{"platform_entity_id":"5980523856052"},{"platform_entity_id":"5980531622068"},{"platform_entity_id":"5980534046900"},{"platform_entity_id":"5980535849140"},{"platform_entity_id":"5980536209588"},{"platform_entity_id":"5980537684148"},{"platform_entity_id":"5980545745076"},{"platform_entity_id":"5980549939380"},{"platform_entity_id":"5980552724660"},{"platform_entity_id":"5980552822964"},{"platform_entity_id":"5980556132532"},{"platform_entity_id":"5980556525748"},{"platform_entity_id":"5980556722356"},{"platform_entity_id":"5980559999156"},{"platform_entity_id":"5980564652212"},{"platform_entity_id":"5980573270196"},{"platform_entity_id":"5980575498420"},{"platform_entity_id":"5980578775220"},{"platform_entity_id":"5980582150324"},{"platform_entity_id":"5980583952564"},{"platform_entity_id":"5980586639540"},{"platform_entity_id":"5980588998836"},{"platform_entity_id":"5980589916340"},{"platform_entity_id":"5980590145716"},{"platform_entity_id":"5980592308404"},{"platform_entity_id":"5980594700468"},{"platform_entity_id":"5980595880116"},{"platform_entity_id":"5980596109492"},{"platform_entity_id":"5980598403252"},{"platform_entity_id":"5980602073268"},{"platform_entity_id":"5980602106036"},{"platform_entity_id":"5980603318452"},{"platform_entity_id":"5980606726324"},{"platform_entity_id":"6017949106356"},{"platform_entity_id":"6017949204660"},{"platform_entity_id":"6117928370356"},{"platform_entity_id":"6117929091252"},{"platform_entity_id":"6146124611764"},{"platform_entity_id":"6539362828468"},{"platform_entity_id":"6545088053428"},{"platform_entity_id":"6545115087028"},{"platform_entity_id":"6548876263604"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12890,"billing_rules":[{"id":26018,"subscription_group_id":12890,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26019,"subscription_group_id":12890,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26020,"subscription_group_id":12890,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26021,"subscription_group_id":12890,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26022,"subscription_group_id":12890,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26023,"subscription_group_id":12890,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12834,"subscription_group_id":12890,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980457631924"},{"platform_entity_id":"5980460449972"},{"platform_entity_id":"6133891236020"},{"platform_entity_id":"6133891432628"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12891,"billing_rules":[{"id":26024,"subscription_group_id":12891,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26025,"subscription_group_id":12891,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26026,"subscription_group_id":12891,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26027,"subscription_group_id":12891,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26028,"subscription_group_id":12891,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26029,"subscription_group_id":12891,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12835,"subscription_group_id":12891,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980474802356"},{"platform_entity_id":"5980480274612"},{"platform_entity_id":"5980491972788"},{"platform_entity_id":"5980499902644"},{"platform_entity_id":"5980504686772"},{"platform_entity_id":"5980507537588"},{"platform_entity_id":"5980521562292"},{"platform_entity_id":"5980524806324"},{"platform_entity_id":"5980532211892"},{"platform_entity_id":"5980544663732"},{"platform_entity_id":"5980545941684"},{"platform_entity_id":"5980546990260"},{"platform_entity_id":"5980547416244"},{"platform_entity_id":"5980551479476"},{"platform_entity_id":"5980555608244"},{"platform_entity_id":"5980560720052"},{"platform_entity_id":"5980563144884"},{"platform_entity_id":"5980570779828"},{"platform_entity_id":"5980573991092"},{"platform_entity_id":"5980582346932"},{"platform_entity_id":"5980584640692"},{"platform_entity_id":"5980586541236"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12892,"billing_rules":[{"id":26030,"subscription_group_id":12892,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26031,"subscription_group_id":12892,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26032,"subscription_group_id":12892,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26033,"subscription_group_id":12892,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26034,"subscription_group_id":12892,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26035,"subscription_group_id":12892,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12836,"subscription_group_id":12892,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980460646580"},{"platform_entity_id":"5980461793460"},{"platform_entity_id":"5980469199028"},{"platform_entity_id":"5980471034036"},{"platform_entity_id":"5980474278068"},{"platform_entity_id":"5980481257652"},{"platform_entity_id":"5980482142388"},{"platform_entity_id":"5980485288116"},{"platform_entity_id":"5980493152436"},{"platform_entity_id":"5980493185204"},{"platform_entity_id":"5980499902644"},{"platform_entity_id":"5980502229172"},{"platform_entity_id":"5980502950068"},{"platform_entity_id":"5980515729588"},{"platform_entity_id":"5980528214196"},{"platform_entity_id":"5980534702260"},{"platform_entity_id":"5980536176820"},{"platform_entity_id":"5980547645620"},{"platform_entity_id":"5980551217332"},{"platform_entity_id":"5980552462516"},{"platform_entity_id":"5980553576628"},{"platform_entity_id":"5980555641012"},{"platform_entity_id":"5980555706548"},{"platform_entity_id":"5980555870388"},{"platform_entity_id":"5980557738164"},{"platform_entity_id":"5980559212724"},{"platform_entity_id":"5980562948276"},{"platform_entity_id":"5980564258996"},{"platform_entity_id":"5980567175348"},{"platform_entity_id":"5980576940212"},{"platform_entity_id":"5980580118708"},{"platform_entity_id":"5980583329972"},{"platform_entity_id":"5980583624884"},{"platform_entity_id":"5980584476852"},{"platform_entity_id":"5980587491508"},{"platform_entity_id":"5980593914036"},{"platform_entity_id":"5980594405556"},{"platform_entity_id":"5980594438324"},{"platform_entity_id":"5980594536628"},{"platform_entity_id":"5980597485748"},{"platform_entity_id":"5980598567092"},{"platform_entity_id":"5980599255220"},{"platform_entity_id":"6230604742836"},{"platform_entity_id":"6230604644532"},{"platform_entity_id":"6230605627572"},{"platform_entity_id":"6230606086324"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12893,"billing_rules":[{"id":26036,"subscription_group_id":12893,"interval_name":"Every 3 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=3","custom_billing_rule":""},{"id":26037,"subscription_group_id":12893,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26038,"subscription_group_id":12893,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26039,"subscription_group_id":12893,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26040,"subscription_group_id":12893,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26041,"subscription_group_id":12893,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26042,"subscription_group_id":12893,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12837,"subscription_group_id":12893,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5848946344103"},{"platform_entity_id":"5980457205940"},{"platform_entity_id":"5980457926836"},{"platform_entity_id":"5980458057908"},{"platform_entity_id":"5980459598004"},{"platform_entity_id":"5980461400244"},{"platform_entity_id":"5980464906420"},{"platform_entity_id":"5980468707508"},{"platform_entity_id":"5980472377524"},{"platform_entity_id":"5980480766132"},{"platform_entity_id":"5980486500532"},{"platform_entity_id":"5980490268852"},{"platform_entity_id":"5980490891444"},{"platform_entity_id":"5980496265396"},{"platform_entity_id":"5980501115060"},{"platform_entity_id":"5980503998644"},{"platform_entity_id":"5980507570356"},{"platform_entity_id":"5980508815540"},{"platform_entity_id":"5980509896884"},{"platform_entity_id":"5980538110132"},{"platform_entity_id":"5980559245492"},{"platform_entity_id":"5980563931316"},{"platform_entity_id":"5980581986484"},{"platform_entity_id":"5980588343476"},{"platform_entity_id":"5980590833844"},{"platform_entity_id":"5980594045108"},{"platform_entity_id":"6133889761460"},{"platform_entity_id":"6133890154676"},{"platform_entity_id":"6133890318516"},{"platform_entity_id":"6133890547892"},{"platform_entity_id":"6133891203252"},{"platform_entity_id":"6133892120756"},{"platform_entity_id":"6133892448436"},{"platform_entity_id":"6133892645044"},{"platform_entity_id":"6133892874420"},{"platform_entity_id":"6133895266484"},{"platform_entity_id":"6133895987380"},{"platform_entity_id":"6133897003188"},{"platform_entity_id":"6133898018996"},{"platform_entity_id":"6219591975092"},{"platform_entity_id":"6219593089204"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12895,"billing_rules":[{"id":26050,"subscription_group_id":12895,"interval_name":"Every 3 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=3","custom_billing_rule":""},{"id":26051,"subscription_group_id":12895,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26052,"subscription_group_id":12895,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26053,"subscription_group_id":12895,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26054,"subscription_group_id":12895,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26055,"subscription_group_id":12895,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26056,"subscription_group_id":12895,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12839,"subscription_group_id":12895,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980464447668"},{"platform_entity_id":"5980466741428"},{"platform_entity_id":"5980479848628"},{"platform_entity_id":"5980481519796"},{"platform_entity_id":"5980485550260"},{"platform_entity_id":"5980491743412"},{"platform_entity_id":"5980498821300"},{"platform_entity_id":"5980500459700"},{"platform_entity_id":"5980504129716"},{"platform_entity_id":"5980506226868"},{"platform_entity_id":"5980513632436"},{"platform_entity_id":"5980518547636"},{"platform_entity_id":"5980540731572"},{"platform_entity_id":"5980563079348"},{"platform_entity_id":"5980571336884"},{"platform_entity_id":"5980584280244"},{"platform_entity_id":"5980599353524"},{"platform_entity_id":"5980599386292"},{"platform_entity_id":"5980600598708"},{"platform_entity_id":"6133890515124"},{"platform_entity_id":"6133891006644"},{"platform_entity_id":"6133891367092"},{"platform_entity_id":"6133892972724"},{"platform_entity_id":"6133893595316"},{"platform_entity_id":"6133893693620"},{"platform_entity_id":"6133894480052"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true},{"id":12896,"billing_rules":[{"id":26057,"subscription_group_id":12896,"interval_name":"Every 3 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=3","custom_billing_rule":""},{"id":26058,"subscription_group_id":12896,"interval_name":"Every 4 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=4","custom_billing_rule":""},{"id":26059,"subscription_group_id":12896,"interval_name":"Every 5 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=5","custom_billing_rule":""},{"id":26060,"subscription_group_id":12896,"interval_name":"Every 6 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=6","custom_billing_rule":""},{"id":26061,"subscription_group_id":12896,"interval_name":"Every 7 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=7","custom_billing_rule":""},{"id":26062,"subscription_group_id":12896,"interval_name":"Every 8 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=8","custom_billing_rule":""},{"id":26063,"subscription_group_id":12896,"interval_name":"Every 12 weeks","billing_rule":"FREQ=WEEKLY;INTERVAL=12","custom_billing_rule":""}],"is_subscription_only":false,"allow_prepaid":false,"is_prepaid_only":false,"should_continue_prepaid":true,"continue_prepaid_type":"as_prepaid","prepaid_durations":[{"id":12840,"subscription_group_id":12896,"total_duration":1,"discount_type":"percentage","discount_value":0}],"selection_options":[{"platform_entity_id":"5980471197876"},{"platform_entity_id":"5980476768436"},{"platform_entity_id":"5980477980852"},{"platform_entity_id":"5980500164788"},{"platform_entity_id":"5980504883380"},{"platform_entity_id":"5980507111604"},{"platform_entity_id":"5980520448180"},{"platform_entity_id":"5980527788212"},{"platform_entity_id":"5980532637876"},{"platform_entity_id":"5980534243508"},{"platform_entity_id":"5980549677236"},{"platform_entity_id":"5980552659124"},{"platform_entity_id":"5980586803380"},{"platform_entity_id":"6133893529780"},{"platform_entity_id":"6133897330868"}],"discount_type":"no_discount","percent_discount":0,"fixed_discount":0,"can_add_to_cart":true}];
    }

    function isFeatureFlagEnabled(featureFlag) {
        for (var i = 0; i < window.BOLD.subscriptions.config.featureFlags.length; i++) {
            if (window.BOLD.subscriptions.config.featureFlags[i] === featureFlag){
                return true;
            }
        }
        return false;
    }

    window.BOLD.subscriptions.logger = {
        tag: "bold_subscriptions",
        // the bold subscriptions log level
        // 0 - errors (default)
        // 1 - warnings + errors
        // 2 - info + warnings + errors
        // use window.localStorage.setItem('boldSubscriptionsLogLevel', x) to set the log level
        levels: {
            ERROR: 0,
            WARN: 1,
            INFO: 2,
        },
        level: parseInt((window.localStorage && window.localStorage.getItem('boldSubscriptionsLogLevel')) || "0", 10),
        _log: function(callArgs, level) {
            if (!window.console) {
                return null;
            }

            if (window.BOLD.subscriptions.logger.level <= level) {
                return;
            }

            var params = Array.prototype.slice.call(callArgs);
            params.unshift(window.BOLD.subscriptions.logger.tag);

            switch (level) {
                case window.BOLD.subscriptions.logger.levels.INFO:
                    console.info.apply(null, params);
                    return;
                case window.BOLD.subscriptions.logger.levels.WARN:
                    console.warn.apply(null, params);
                    return;
                case window.BOLD.subscriptions.logger.levels.ERROR:
                    console.error.apply(null, params);
                    return;
                default:
                    console.log.apply(null, params);
                    return;
            }
        },
        info: function() {
            window.BOLD.subscriptions.logger._log(arguments, window.BOLD.subscriptions.logger.levels.INFO);
        },
        warn: function() {
            window.BOLD.subscriptions.logger._log(arguments, window.BOLD.subscriptions.logger.levels.WARN);
        },
        error: function() {
            window.BOLD.subscriptions.logger._log(arguments, window.BOLD.subscriptions.logger.levels.ERROR);
        }
    }

    window.BOLD.subscriptions.getSubscriptionGroupFromProductId = function (productId) {
        var data = window.BOLD.subscriptions.data;
        var foundGroup = null;
        for (var i = 0; i < data.subscriptionGroups.length; i += 1) {
            var subscriptionGroup = data.subscriptionGroups[i];
            for (var j = 0; j < subscriptionGroup.selection_options.length; j += 1) {
                var selectionOption = subscriptionGroup.selection_options[j];
                if (selectionOption.platform_entity_id === productId.toString()) {
                    foundGroup = subscriptionGroup;
                    break;
                }
            }
            if (foundGroup) {
                break;
            }
        }
        return foundGroup;
    };

    window.BOLD.subscriptions.getSubscriptionGroupById = function(subGroupId) {
        var subscriptionGroups = window.BOLD.subscriptions.data.subscriptionGroups;

        for (var i = 0; i < subscriptionGroups.length; i += 1) {
            var subGroup = subscriptionGroups[i];
            if (subGroup.id === subGroupId) {
                return subGroup;
            }
        }

        return null;
    };

    window.BOLD.subscriptions.getSubscriptionGroupPrepaidDurationById = function(subscriptionGroupId, prepaidDurationId) {
        var subscriptionGroup = window.BOLD.subscriptions.getSubscriptionGroupById(subscriptionGroupId);

        if (
            !subscriptionGroup
            || !subscriptionGroup.prepaid_durations
            || !subscriptionGroup.prepaid_durations.length
        ) {
            return null;
        }

        for (var i = 0; i < subscriptionGroup.prepaid_durations.length; i++) {
            var prepaidDuration = subscriptionGroup.prepaid_durations[i];
            if (prepaidDuration.id === prepaidDurationId) {
                return prepaidDuration;
            }
        }

        return null;
    }

    window.BOLD.subscriptions.getSubscriptionGroupBillingRuleById = function(subGroup, billingRuleId) {
        for (var i = 0; i < subGroup.billing_rules.length; i += 1) {
            var billingRule = subGroup.billing_rules[i];
            if (billingRule.id === billingRuleId) {
                return billingRule;
            }
        }

        return null;
    };

    window.BOLD.subscriptions.toggleDisabledAddToCartButtons = function(d) {
        var addToCartForms = document.querySelectorAll(window.BOLD.subscriptions.config.addToCartFormSelectors.join(','));
        var disable = !!d;
        for (var i = 0; i < addToCartForms.length; i++) {
            var addToCartForm = addToCartForms[i];
            var productId = window.BOLD.subscriptions.getProductIdFromAddToCartForm(addToCartForm);
            var subscriptionGroup = window.BOLD.subscriptions.getSubscriptionGroupFromProductId(productId);

            if (subscriptionGroup) {
                var addToCartButtons = addToCartForm.querySelectorAll(window.BOLD.subscriptions.config.addToCartButtonSelectors.join(','));
                for (var j = 0; j < addToCartButtons.length; j++) {
                    var addToCartButton = addToCartButtons[j];
                    var toggleAction = disable ?  addToCartButton.setAttribute : addToCartButton.removeAttribute;

                    addToCartButton.disabled = disable;
                    toggleAction.call(addToCartButton, 'data-disabled-by-subscriptions', disable);
                }
            }
        }
    };

    window.BOLD.subscriptions.disableAddToCartButtons = function () {
        // only disable the add to cart buttons if the app isn't loaded yet
        if (!window.BOLD.subscriptions.app) {
            window.BOLD.subscriptions.toggleDisabledAddToCartButtons(true);
        } else {
            window.BOLD.subscriptions.enableAddToCartButtons();
        }
    };

    window.BOLD.subscriptions.enableAddToCartButtons = function () {
        document.removeEventListener('click', window.BOLD.subscriptions.preventSubscriptionAddToCart);
        window.BOLD.subscriptions.toggleDisabledAddToCartButtons(false);
    };

    window.BOLD.subscriptions.toggleDisabledCheckoutButtons = function(d) {
        var checkoutButtons = document.querySelectorAll(window.BOLD.subscriptions.config.checkoutButtonSelectors.join(','));
        var disable = !!d;
        for (var i = 0; i < checkoutButtons.length; i++) {
            var checkoutButton = checkoutButtons[i];
            var toggleAction = disable ? checkoutButton.setAttribute : checkoutButton.removeAttribute;

            checkoutButton.disabled = disable;
            toggleAction.call(checkoutButton, 'data-disabled-by-subscriptions', disable);
        }
    }

    window.BOLD.subscriptions.disableCheckoutButtons = function() {
        // only disable the checkout buttons if the app isn't loaded yet
        if (!window.BOLD.subscriptions.app) {
            window.BOLD.subscriptions.toggleDisabledCheckoutButtons(true);
        } else {
            window.BOLD.subscriptions.enableCheckoutButtons();
        }
    }

    window.BOLD.subscriptions.enableCheckoutButtons = function() {
        document.removeEventListener('click', window.BOLD.subscriptions.preventCheckout);
        window.BOLD.subscriptions.toggleDisabledCheckoutButtons(false);
    }

    window.BOLD.subscriptions.hasSuccessfulAddToCarts = function() {
        if (typeof(Storage) !== "undefined") {
            var successfulAddToCarts = JSON.parse(
                window.localStorage.getItem('boldSubscriptionsSuccessfulAddToCarts') || '[]'
            );
            if (successfulAddToCarts.length > 0) {
                return true;
            }
        }

        return false;
    }

    window.BOLD.subscriptions.addJSAsset = function(src) {
        var scriptTag = document.getElementById('bold-subscriptions-script');
        var jsElement = document.createElement('script');
        jsElement.type = 'text/javascript';
        jsElement.src = src;
        scriptTag.parentNode.insertBefore(jsElement, scriptTag);
    };

    window.BOLD.subscriptions.addCSSAsset = function(href) {
        var scriptTag = document.getElementById('bold-subscriptions-script');
        var cssElement = document.createElement('link');
        cssElement.href = href;
        cssElement.rel = 'stylesheet';
        scriptTag.parentNode.insertBefore(cssElement, scriptTag);
    };

    window.BOLD.subscriptions.loadStorefrontAssets = function loadStorefrontAssets() {
        var assets = window.BOLD.subscriptions.config.assets;
        window.BOLD.subscriptions.addCSSAsset(window.BOLD.subscriptions.config.assetBaseUrl + '/static/' + assets['storefront.css']);
        window.BOLD.subscriptions.addJSAsset(window.BOLD.subscriptions.config.assetBaseUrl + '/static/' + assets['storefront.js']);
    };

    window.BOLD.subscriptions.loadCustomerPortalAssets = function loadCustomerPortalAssets() {
        var assets = window.BOLD.subscriptions.config.assets;
        window.BOLD.subscriptions.addCSSAsset(window.BOLD.subscriptions.config.assetBaseUrl + '/static/' + assets['customer_portal.css']);
        window.BOLD.subscriptions.addJSAsset(window.BOLD.subscriptions.config.assetBaseUrl + '/static/' + assets['customer_portal.js']);
    };

    window.BOLD.subscriptions.processManifest = function() {
        if (!window.BOLD.subscriptions.processedManifest) {
            window.BOLD.subscriptions.processedManifest = true;
            window.BOLD.subscriptions.config.assets = JSON.parse(this.responseText);

                        window.BOLD.subscriptions.loadCustomerPortalAssets();
        }
    };

    window.BOLD.subscriptions.addInitialLoadingMessage = function() {
        var customerPortalNode = document.getElementById('customer-portal-root');
        if (customerPortalNode && window.BOLD.subscriptions.config.requireMSPInitialLoadingMessage) {
            customerPortalNode.innerHTML = '<h1 style="text-align: center;">Loading your subscriptions</h1>';
        }
    }

    window.BOLD.subscriptions.contentLoaded = function() {
        window.BOLD.subscriptions.data.contentLoadedEventTriggered = true;
        window.BOLD.subscriptions.addInitialLoadingMessage();
            };

    window.BOLD.subscriptions.preventSubscriptionAddToCart = function(e) {
        if (e.target.matches(window.BOLD.subscriptions.config.addToCartButtonSelectors.join(',')) && e.target.form) {
            var productId = window.BOLD.subscriptions.getProductIdFromAddToCartForm(e.target.form);
            var subscriptionGroup = window.BOLD.subscriptions.getSubscriptionGroupFromProductId(productId);

            if (subscriptionGroup) {
                // This code prevents products in subscription groups from being added to the cart before the
                // Subscriptions app fully loads. Once the subscriptions app loads it will re-enable the
                // buttons. Use window.BOLD.subscriptions.enableAddToCartButtons enable them manually.
                e.preventDefault();
                return false;
            }
        }
    };

    window.BOLD.subscriptions.preventCheckout = function(e) {
        if (e.target.matches(window.BOLD.subscriptions.config.checkoutButtonSelectors.join(',')) && window.BOLD.subscriptions.hasSuccessfulAddToCarts()) {
            // This code prevents checkouts on the shop until the Subscriptions app fully loads.
            // When the Subscriptions app is ready it will enable the checkout buttons itself.
            // Use window.BOLD.subscriptions.enableCheckoutButtons to enable them manually.
            e.preventDefault();
            return false;
        }
    }

        document.addEventListener('DOMContentLoaded', window.BOLD.subscriptions.contentLoaded);

    if (!Element.prototype.matches) {
        Element.prototype.matches =
            Element.prototype.matchesSelector ||
            Element.prototype.mozMatchesSelector ||
            Element.prototype.msMatchesSelector ||
            Element.prototype.oMatchesSelector ||
            Element.prototype.webkitMatchesSelector ||
            function(s) {
                var matches = (this.document || this.ownerDocument).querySelectorAll(s),
                    i = matches.length;
                while (--i >= 0 && matches.item(i) !== this) {}
                return i > -1;
            };
    }

    if (!Element.prototype.closest) {
        Element.prototype.closest = function(s) {
            var el = this;

            do {
                if (Element.prototype.matches.call(el, s)) return el;
                el = el.parentElement || el.parentNode;
            } while (el !== null && el.nodeType === 1);
            return null;
        };
    }

    window.BOLD.subscriptions.setVisibilityOfAdditionalCheckoutButtons = function (isVisible) {
        if (window.BOLD.subscriptions.config.additionalCheckoutSelectors === undefined) {
            return;
        }

        var selectors = window.BOLD.subscriptions.config.additionalCheckoutSelectors;

        for (var i = 0; i < selectors.length; i++) {
            var elements = document.querySelectorAll(selectors[i]);

            for (var j = 0; j < elements.length; j++) {
                elements[j].style.display = isVisible ? 'block' : 'none';
            }
        }
    }

    window.BOLD.subscriptions.hideAdditionalCheckoutButtons = function() {
        window.BOLD.subscriptions.setVisibilityOfAdditionalCheckoutButtons(false);
    };

    window.BOLD.subscriptions.showAdditionalCheckoutButtons = function() {
        window.BOLD.subscriptions.setVisibilityOfAdditionalCheckoutButtons(true);
    };

    window.BOLD.subscriptions.enhanceMspUrls = function(data) {
        var mspUrl = 'https://sub.boldapps.net/shop/4622/customer_portal';
        var elements = document.querySelectorAll("a[href='"+mspUrl+"']");

        if(!elements.length || !data.success) {
            return;
        }

        for (var i = 0; i < elements.length; i++) {
            elements[i].href = elements[i].href + "?jwt="+data.value.jwt+"&customerId="+data.value.customerId;
        }
    };

    window.addEventListener('load', function () {
        window.BOLD.subscriptions.getJWT(window.BOLD.subscriptions.enhanceMspUrls);
    });

    // This will be called immediately
    // Use this anonymous function to avoid polluting the global namespace
    (function() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', window.BOLD.subscriptions.processManifest);
        xhr.open('GET', window.BOLD.subscriptions.config.assetBaseUrl + '/static/manifest.json?t=' + (new Date()).getTime());
        xhr.send();
    })()

    window.BOLD.subscriptions.patches.patchCashier = function() {
        if (window.BOLD && window.BOLD.checkout) {
            window.BOLD.checkout.disable();
            window.BOLD.checkout.listenerFn = window.BOLD.subscriptions.patches.cashierListenerFn;
            window.BOLD.checkout.enable();
        } else if (window.BOLD.subscriptions.patches.currentCashierPatchAttempts < window.BOLD.subscriptions.patches.maxCashierPatchAttempts) {
            window.BOLD.subscriptions.patches.currentCashierPatchAttempts++;
            setTimeout(window.BOLD.subscriptions.patches.patchCashier, 100);
        }
    };

    window.BOLD.subscriptions.patches.finishCheckout = function(event, form, cart) {
        window.BOLD.subscriptions.patches.currentCheckoutRetries++;

        if (!window.BOLD.subscriptions.app
            && window.BOLD.subscriptions.patches.currentCheckoutRetries < window.BOLD.subscriptions.patches.maxCheckoutRetries
        ) {
            setTimeout(function () { window.BOLD.subscriptions.patches.finishCheckout(event, form, cart); }, 100);
            return;
        } else if (window.BOLD.subscriptions.app) {
            window.BOLD.subscriptions.patches.currentCheckoutRetries = 0;
            window.BOLD.subscriptions.app.addCartParams(form, cart);
        }

        var noSubscriptions = false;
        if ((window.BOLD.subscriptions.app && window.BOLD.subscriptions.app.successfulAddToCarts.length === 0)
            || !window.BOLD.subscriptions.app
        ) {
            noSubscriptions = true;
            event.target.dataset.cashierConfirmedNoPlugins = true;

            if (window.BOLD.subscriptions.setCashierFeatureToken) {
                window.BOLD.subscriptions.setCashierFeatureToken(false);
            }
        }

        if ((noSubscriptions && window.BOLD.subscriptions.config.cashierPluginOnlyMode)
            || (typeof BOLD.checkout.isFeatureRequired === 'function' && !BOLD.checkout.isFeatureRequired())
        ) {
            // send them to the original checkout when in plugin only mode
            // and either BSUB is there but there are no subscription products
            // or BSUB isn't there at all
            if (form.dataset.old_form_action) {
                form.action = form.dataset.old_form_action;
            }
            event.target.click();
        } else {
            // sends them to Cashier since BSUB got a chance to add it's stuff
            // and plugin only mode is not enabled
            form.submit();
        }
    };
</script>

<script id="bold-subscriptions-platform-script" type="text/javascript">
    window.BOLD.subscriptions.config.shopPlatformId = '47725936807';
    window.BOLD.subscriptions.config.appSlug = 'subscriptions';

    window.BOLD = window.BOLD || {};
    window.BOLD.subscriptions = window.BOLD.subscriptions || {};
    window.BOLD.subscriptions.data = window.BOLD.subscriptions.data || {};
    window.BOLD.subscriptions.data.platform = window.BOLD.subscriptions.data.platform || {};
    window.BOLD.subscriptions.data.platform.customer = { id: '{{ customer.id }}' };
    window.BOLD.subscriptions.data.platform.product = {{ product | json }};
    window.BOLD.subscriptions.data.platform.products = [];
    window.BOLD.subscriptions.data.platform.variantProductMap = {};

    window.BOLD.subscriptions.addCachedProductData = function(products) {
        // ignore [], null, and undefined
        if (!products) {
            return
        }

        if (!Array.isArray(products)) {
            window.BOLD.subscriptions.logger.warn('products must be an array')
            return
        }

        window.BOLD.subscriptions.data.platform.products.concat(products)

        for (var i = 0; i < products.length; i++) {
            var product = products[i];
            for (var j = 0; j < product.variants.length; j++) {
                var variant = product.variants[j];
                window.BOLD.subscriptions.data.platform.variantProductMap[variant.id] = product;
            }
        }
    }

    {% if product != nil %}
    window.BOLD.subscriptions.addCachedProductData([{{ product | json }}]);
    {% endif %}
    {% if collection != nil %}
    window.BOLD.subscriptions.addCachedProductData({{ collection.products | json }});
    {% endif %}
    {% if search != nil %}
    window.BOLD.subscriptions.addCachedProductData({{ search.results | json }});
    {% endif %}

    window.BOLD.subscriptions.config.addToCartFormSelectors.push('.product-form.product-form-product-template:not(.bold-subscriptions-no-widget)');
    window.BOLD.subscriptions.config.addToCartButtonSelectors.push('[type="submit"]');
    window.BOLD.subscriptions.config.quickAddToCartButtonSelectors.push('a[data-event-type="product-click"]');
    window.BOLD.subscriptions.config.widgetInsertBeforeSelectors.push('[type="submit"]');
    window.BOLD.subscriptions.config.cartElementSelectors.push('form[action="/cart"]');
    window.BOLD.subscriptions.config.cartTotalElementSelectors.push('[data-cart-subtotal]', '.text-right .ajaxcart__subtotal');
    window.BOLD.subscriptions.config.checkoutButtonSelectors.push(
        '[name="checkout"]',
        '[href*="checkout"]:not([href*="tools/checkout"])',
        '[onclick*="checkout"]:not([onclick*="tools/checkout"])',
    );

    // Discount text markup template
    // NOTE: @ on double curly, so blade doesn't interpret, and `raw` liquid tags so liquid doesn't interpret.
    {% raw %}
    window.BOLD.subscriptions.config.discountItemTemplate = '<div class="bold-subscriptions-discount"><div class="bold-subscriptions-discount__details">{{details}}</div><div class="bold-subscriptions-discount__total">{{total}}</div></div>';
    {% endraw %}

    window.BOLD.subscriptions.getProductIdFromAddToCartForm = function(addToCartForm) {
        var idInput = addToCartForm.querySelector('[name="id"]');
        if (idInput === null) {
            window.BOLD.subscriptions.logger.error('could not get variant id input from add to cart form  make sure your form has an input with [name="id"]')
            return null;
        }

        var variantId = parseInt(idInput.value, 10);
        if (isNaN(variantId)) {
            window.BOLD.subscriptions.logger.error('could not parse variant id from [name="id"] input')
            return null;
        }

        var product = window.BOLD.subscriptions.data.platform.variantProductMap[variantId];

        if (product === undefined) {
            window.BOLD.subscriptions.logger.error('could not map variant id to cached product data  call window.BOLD.subscriptions.addCachedProductData(products) to add the product to the cache')
            return null;
        }

        return product.id;
    };

    window.BOLD.subscriptions.getAddToCartForms = function() {
        var forms = [];
        var idInputs = document.querySelectorAll('[name="id"]');

        for (var i = 0; i < idInputs.length; i++) {
            var idInput = idInputs[i];
            var form = idInput.closest('form:not(.bold-subscriptions-no-widget)');
            forms.push(form);
        }

        return forms;
    };

    window.BOLD.subscriptions.getJWT = function (callback) {
        if(window.BOLD.subscriptions.data.platform.customer.id !== '') {
            var shopPlatformId = '47725936807';
            var appSlug = 'subscriptions';
            var customerPlatformId = window.BOLD.subscriptions.data.platform.customer.id;
            var proxyPath = '/apps/app-proxy/customers/v1/shops/'+shopPlatformId+'/apps/'+appSlug+'/customers/pid/'+customerPlatformId+'/jwt';

            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState === window.BOLD.subscriptions.config.XMLHttpRequest.DONE) {
                    if (xmlhttp.status === 200) {
                        var data = JSON.parse(xmlhttp.responseText);
                        callback({
                            success: true,
                            value: {
                                jwt: data.bold_platform_jwt,
                                customerId: window.BOLD.subscriptions.data.platform.customer.id,
                            },
                        });
                    } else if (xmlhttp.status === 404) {
                        callback({
                            success: false,
                            error: 'not_logged_in',
                        });
                    } else {
                        callback({
                            success: false,
                            error: 'unknown',
                        });
                    }
                }
            };

            xmlhttp.open("GET", proxyPath, true);
            xmlhttp.setRequestHeader('Accept', 'application/liquid');
            xmlhttp.send();
        } else {
            callback({
                success: false,
                error: 'not_logged_in',
            });
        }
    };

    window.BOLD.subscriptions.setCashierFeatureToken = function(value) {
        if (window.BOLD.checkout_features_defaults && window.BOLD.subscriptions.config.cashierApplicationUUID) {
            window.BOLD.checkout_features_defaults.forEach(function(item) {
                if (item.id === window.BOLD.subscriptions.config.cashierApplicationUUID) {
                    item.require = value;
                }
            });
        }
    };

    // Cashier patches
    window.BOLD.subscriptions.patches.cashierListenerFn = function(event) {
        if (window.BOLD.checkout.isCheckoutButton(event.target) && window.BOLD.checkout.isEnabled()) {
            window.BOLD.subscriptions.patches.pushToCashier(event);
        } else if(window.BOLD.checkout.isCheckoutButton(event.target) && typeof window.cashier_installed_on_site === 'undefined') {
            var request = new XMLHttpRequest();
            request.open('HEAD', '/apps/checkout/isInstalled', false);
            request.send(null);

            if(request.status >= 200 && request.status < 400) {
                window.BOLD.subscriptions.patches.pushToCashier(event);
            } else {
                window.cashier_installed_on_site = false;
            }
        }
    };

    window.BOLD.subscriptions.localTime = function() {
        var localDate = new Date();
        return localDate.getTime();
    };


    window.BOLD.subscriptions.patches.pushToCashier = function(event) {
        event.preventDefault();
        var form = window.BOLD.checkout.getForm(event.target);
        var formData = new FormData(form);
        var request = new XMLHttpRequest();
        request.open('POST', '/cart/update.js?tmp=' + Date.now(), true);
        request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
                // Success!
                var cart = JSON.parse(request.responseText);

                // If items are empty redirect back to the cart
                if (cart.items.length === 0) {
                    return window.location.href = '/cart';
                }

                cart.items.forEach(function(element) {
                    delete element.product_description;
                });

                if (document.getElementById('CartSpecialInstructions')) {
                    // If the cart note exists, grab its value
                    cart.note = document.getElementById('CartSpecialInstructions').value;
                }

                var cartObj = JSON.stringify(cart);

                var form = window.BOLD.checkout.getForm(event.target);
                form.dataset.old_form_action = form.action;
                form.action = '/apps/checkout/begin-checkout' + googleAnalyticsGetParamString({});
                var cartCookie = window.BOLD.checkout.getCookie('cart');
                var element = document.createElement('INPUT');
                element.type = 'HIDDEN';
                element.name = 'cart_id';
                element.value = cartCookie;
                form.appendChild(element);

                var dateElement = document.createElement('INPUT');
                dateElement.type = 'HIDDEN';
                dateElement.name = 'checkout_local_time';
                dateElement.value = window.BOLD.subscriptions.localTime();
                form.appendChild(dateElement);

                var cartElement = document.createElement('INPUT');
                cartElement.type = 'HIDDEN';
                cartElement.name = 'cart';
                cartElement.value = cartObj;
                form.appendChild(cartElement);
                form.method = 'POST';

                if(window.BOLD && window.BOLD.checkout && typeof window.BOLD.checkout.languageIsoCode === 'string') {
                    var langInput = document.createElement('INPUT');
                    langInput.type = 'HIDDEN';
                    langInput.name = 'language_iso';
                    langInput.value = window.BOLD.checkout.languageIsoCode;
                    form.appendChild(langInput);
                }

                if (window.BOLD && window.BOLD.common && typeof window.BOLD.common.eventEmitter === 'object' && typeof window.BOLDCURRENCY !== 'undefined') {
                    window.BOLD.common.eventEmitter.emit('BOLD_CASHIER_checkout', {target: form});
                }

                window.BOLD.subscriptions.patches.finishCheckout(event, form, cart);
            }
        };

        request.send(formData);
    };

    </script>

